[flake8]
exclude = venv/*, env/*, .venv/*, .git/*, .tox/*, .eggs/*, build/*, dist/*, docs/*, .pytest_cache/*, .mypy_cache/*, .vscode/*, .github/*, .gitlab/*, .azure-pipelines/*, .bumpversion.cfg, .coveragerc, .editorconfig, .gitattributes, .gitignore, .pre-commit-config.yaml, .readthedocs.yml, .travis.yml, .pylintrc, .isort.cfg, .flake8, .bandit, .pydocstyle, .mypy.ini, .pytest.ini, .codecov.yml, .azure-pipelines.yml, .gitlab-ci.yml, .github/workflows/*, src/server/imports.py
max-line-length = 120